<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Info Grepper</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,h1,h2,h3,h4,h5,h6 {
            font-family: "Lato", sans-serif
        }

        .w3-bar,h1,button {
            font-family: "Montserrat", sans-serif
        }

        .fa-anchor,.fa-coffee {
            font-size: 200px
        }
    </style>
</head>

<body>

    <div class="w3-top">
        <div class="w3-bar w3-red w3-card w3-left-align w3-large">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red"
                href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i
                    class="fa fa-bars"></i></a>

        </div>


    </div>

    <!-- Header -->
    <header class="w3-container w3-red w3-center" style="padding:128px 16px">
        {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
    <strong>Message:</strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    {% endfor %}
        <h1 class="w3-margin w3-jumbo">INFO GREPPER</h1>

        {% if user.is_authenticated %}
        <h3>Hello {{name}}!</h3>
        <a href="/signout">
            <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Sign Out</button>
        </a>

        {% else %}
        <a href="/signup"><button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Sign Up</button></a>
        <a href="/signin"><button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Sign In</button></a>
        {% endif %}
    </header>

    <!-- First Grid -->
    <div class="w3-row-padding w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-twothird">
                <h1>InfoGrepper</h1>
                <h5 class="w3-padding-32">InfoGrepper is a web application that allows users to search for information.
                    It is a one stop solution for all your reconnaisaaance needs.
                </h5>

                <p class="w3-text-grey">Infogrepper is a reconnaissance tool that allows for efficient information
                    gathering during penetration testing. It allows for the automation of tasks such as searching for
                    specific information on websites, social media platforms, and other online resources. This tool can
                    help security professionals quickly identify sensitive information, such as email addresses, phone
                    numbers, and other personal data, which can then be used to further compromise a system.
                    Additionally, Infogrepper can also be used to identify potential vulnerabilities in a target system,
                    making it a valuable tool for any security professional. Overall, Infogrepper is a powerful tool
                    that can greatly aid in the reconnaissance phase of a penetration test, helping security
                    professionals to quickly and efficiently gather information about a target system.</p>
            </div>

            <div class="w3-third w3-center">
                <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
            </div>
        </div>
    </div>

    <!-- Second Grid -->
    <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container">
        <div class="w3-content">
            <div class="w3-third w3-center">
                <i class="fa fa-coffee w3-padding-64 w3-text-red w3-margin-right"></i>
            </div>

            <div class="w3-twothird">
                <h1>InfoGrepper</h1>
                <h5 class="w3-padding-32">Infogrepper: Streamline your reconnaissance, penetrate with precision</h5>

                <p class="w3-text-grey">With Infogrepper, gather all the information you need for a successful
                    penetration test with ease. This powerful reconnaissance tool automates the process of searching for
                    specific information on websites, social media platforms, and other online resources. Security
                    professionals can quickly identify sensitive information such as email addresses and phone numbers,
                    and identify potential vulnerabilities in a target system. Infogrepper streamlines the
                    reconnaissance phase, allowing security professionals to focus on the task at hand- penetrating the
                    system.</p>
            </div>
        </div>
    </div>

    <div class="w3-container w3-black w3-center w3-opacity w3-padding-64">
        <h1 class="w3-margin w3-xlarge">Infogrepper - Your one-stop solution for efficient and comprehensive
            reconnaissance in penetration testing.</h1>
    </div>

    <!-- Footer -->
    <footer class="w3-container w3-padding-64 w3-center w3-opacity">
        <div class="w3-xlarge w3-padding-32">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
        </div>
        <p>Created by<a href="https://www.ganpatuniversity.ac.in/" target="_blank"> Parth Krish and Faizal</a></p>
    </footer>

    <script>
        // Used to toggle the menu on small screens when clicking on the menu button
        function myFunction() {
            var x = document.getElementById("navDemo");
            if (x.className.indexOf("w3-show") == -1) {
                x.className += " w3-show";
            } else {
                x.className = x.className.replace(" w3-show", "");
            }
        }
    </script>

    <script src="" async defer></script>
</body>

</html>