{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style/base.css' %}" />
    {% block style %} {% endblock style %}
    <title>base</title>
  </head>

  <body>
    <!-- ==== HEADER ==== -->
    <header class="container header">
      <!-- ==== NAVBAR ==== -->
      <nav class="nav">
        <div class="logo">
          <h2>InfoGrepper.</h2>
        </div>

        <div class="nav_menu" id="nav_menu">
          <button class="close_btn" id="close_btn">
            <i class="ri-close-fill"></i>
          </button>

          <ul class="nav_menu_list">
            <li class="nav_menu_item">
              <a href="{% url 'home' %}" class="nav_menu_link">home</a>
            </li>
            <li class="nav_menu_item">
              <a href="{% url 'alltools' %}" class="nav_menu_link">tools</a>
            </li>
            <li class="nav_menu_item">
              <a href="#" class="nav_menu_link">about</a>
            </li>
            <li class="nav_menu_item">
              {% if user.is_authenticated %}
              <a class="nav_menu_link">
                <div class="profile">
                  <div class="user_name"><span>{{ user.username }}</span></div>
                  <div class="profile_img">
                    <img src="{% static 'images/profile1.jpg' %}" />
                  </div>
                </div>
              </a>
              {% else %}
              <a href="{% url 'login' %}" class="nav_menu_link">
                <button class="btn login_btn">
                  login<i class="ri-login-box-line"></i>
                </button>
              </a>
              {% endif %}
            </li>
          </ul>
        </div>

        <button class="toggle_btn" id="toggle_btn">
          <i class="ri-menu-line"></i>
        </button>
      </nav>
    </header>

    {% block content %} {% endblock content %}

    <footer></footer>

    {% block script %} {% endblock script %}
    <script src="{% static 'script/base.js' %}"></script>
  </body>
</html>
