{% extends "users/base.html" %}
{%load static%}
{% block style %} 
<link rel="stylesheet" href="{% static 'style/forgot_password.css' %}">
  <title>Reset Password</title>
{% endblock style %}

{% block content %}
    <div class="cont_forg_pas">
        <h2>Confirm Password Reset</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Confirm Password Reset</button>
        </form>
    </div>
{% endblock %}
